.container.baground {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  height: 100vh;  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.5);
  max-width: 400px; 
  width: 90%;
}

.welcome {
  margin: 0 0 25px 0;
  color: white;
  font-size: 36px;
  text-align: center;
}

.form-antd {
  width: 350px;
  background: transparent;
  padding: 0;  
  border-radius: 0;
  box-shadow: none;
}

.form-container .ant-form-item-label > label {
  font-weight: bold;
  font-size: 18px;
  color: white !important;
}

.ant-input,
.ant-input-password {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.ant-btn-primary {
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  height: 45px;
  border-radius: 10px;
  width: 150px;
  background: linear-gradient(90deg, #00c6fb 0%, #005bea 100%);
  box-shadow: 0 6px 15px rgba(0, 86, 234, 0.4);
  transition: all 0.3s ease;
}
.ant-btn-primary:hover {
  background: linear-gradient(90deg, #0078ff 0%, #00e1ff 100%);
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 86, 234, 0.5);
}
